.bar {
    width: 315px;
    height: 10px;
    background-color: lightgrey;
    border-radius: 5px;
    margin: 10px;
}

.complete {
    height: 10px;
    background-color: darkgray;
    border-radius: 5px;
}