.bar {
    width: 335px;
    height: 8px;
    background: #DCDCDC;
    border-radius: 16px;
    margin: 10px;
}

.complete {
<<<<<<< HEAD
    height: 8px;
    background: #EB5757;
    border-radius: 16px;
=======
    height: 10px;
    background-color: #EB5757;
    border-radius: 5px;
>>>>>>> submaster
}