.questionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  overflow: hidden;
  max-width: 550px;
}

.tweetContainer {
  width: 100%;
  min-height: 150px;
  position: relative;
  pointer-events: none;
  /* overflow: hidden; */
  border-radius: 15px;
  margin-bottom: 20px;
  /* margin-top: 110px; */
  padding-bottom: 130px;
  display: flex;
  justify-content: center;
}

.fa-twitter {
  color: #1DA1F2;
  font-size: 35px;
}

.censor {
  height: 75px;
  width: 100%;
  /* max-width: 548px; */
  max-width: 600px;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white;
  border: 1px solid lightgray;
  border-bottom: none;
  border-radius: 15px 15px 0px 0px; */
  /* -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
  width: 100vw;
  max-width: 600px;
  background: black;
  /* top: 23px; */
  z-index: 10;
}

.tweet-it {
  width: 95%;
  height: 100%;
  /* margin-top: 80px; */
  position: relative;
}

.hidden {
  display: none;
}

.twitter-tweet-rendered {
  font-size: 8px !important;
}

.answerBtns {
  display: flex;
  width: 95%;
  justify-content: space-around;
  padding-top: 40px;
  margin-top: 40px;
}
.answerBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.answerBtn button {
  width: 136px;
  height: 63px;
}
.answerImg {
  width: 80px;
  height: 80px;
}