.questionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 550px;
}

.tweetContainer {
  width: 100%;
  max-width: 550px;
  position: relative;
  pointer-events: none;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.fa-twitter {
  color: #1DA1F2;
  font-size: 35px;
}

.censor {
  margin-top: 20px;
  height: 60px;
  width: 100%;
  max-width: 550px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: white; 
  overflow: hidden;
  /* -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
}

.hidden {
  display: none;
}

.answerBtns {
  display: flex;
  width: 95%;
  justify-content: space-around;
}
.answerBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.answerBtn button {
  width: 136px;
  height: 63px;
}
.answerImg {
  width: 80px;
  height: 80px;
}