.regBtnDiv {
  position: absolute;
  bottom: 25px;
  margin-top: 40px;
}

.registerBtn {
  background: #F2F2F2;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 45px;
  padding: 6px 20px;
}