.regBtnDiv {
  position: absolute;
  bottom: 25px;
  margin-top: 40px;
}

.registerBtn {
  background: #E5E5E5;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 45px;
  width: 123px;
  height: 30px;
  color: #333333;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}