.twit-circ {
    position: absolute;
    border-color: 2px solid black;
    border-radius: 50%;
    background-color: #fff;
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.startGame {
    width: 155px;
    height: 45px;
    border: none;
    background: #FFFFFF;
    border-radius: 33px;
    border-color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.2em;
    color: #EB5757;
    box-shadow: 0px 4px 20px rgba(141, 136, 136, 0.3);
    margin-top: 8%;
    transition: 250ms;
    cursor: pointer;
}
.startGame:hover {
    width: 145px;
    height: 40px;
}
  
.guess {
    font-size: 22px;
    text-align: center;
    font-weight: 300;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

.blue-home, .red-home {
    max-height: 210px;
    position: relative;
    width: 92%;
    max-width: 415px;
    height: 33%;
    display: flex;
    justify-content: center;
}

.blue-home {
    background: -webkit-linear-gradient(0deg, #1DA1F2 44.79%, #5FBEF9 100%);
    border-radius: 84px 84px 84px 0px;
    top: 8%;
    align-items: flex-end;
    margin-bottom: 5%;
    overflow: hidden;
}
.candidates {
    display: flex;
    justify-content: center;
    width: 100%;
}
.can-group {
    width: 80%;
    height: 80%;
    padding-bottom: 8%;
}

.red-home {
    background: linear-gradient(0deg, #F21D1D 0%, #F76868 100%);
    opacity: 0.84;
    border-radius: 84px 84px 0px 84px;
    margin-top: 70px;
    align-items: center;
    flex-direction: column;
}
.red-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
