* {
  margin: 0;
  padding: 0;
}

.mainPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

h1, h2 {
  margin: 20px;
}
.hidden {
  display: none;
}
.correct {
  background-color: green;
}
.wrong {
  background-color: red;
}

.nextBtn {
  width: 220px;
  height: 55px;
  margin: 20px;
  background-color: darkgrey;
}