* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
}

.mainPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

h1, h2 {
  margin: 20px;
}
.hidden {
  display: none;
}
.correct {
  background-color: green;
}
.wrong {
  background-color: red;
}

/* Header styles */
.header {
  font-size: 36px;
  color: #555555;
}
.redHead {
  background: -webkit-linear-gradient(0deg, #F21D1D 0%, #F76868 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.blueHead {
  background: -webkit-linear-gradient(0deg, #1DA1F2 44.79%, #5FBEF9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nextBtn {
  border: none;
  width: 220px;
  height: 55px;
  margin: 20px;
  background: linear-gradient(0deg, #1DA1F2 44.79%, #5FBEF9 100%);
  box-shadow: 0px 4px 28px #BFBFBF;
  border-radius: 33px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.img-placeholder {
  width: 260px;
  height: 200px;
  background-color: darkgray;
}

.startGame {
  width: 165px;
  height: 75px;
}

.guess {
  text-align: center;
  width: 250px;
}

.results {
  width: 260px;
  /* height: 160px; */
  /* background-color: darkgray; */
}

.endMsg {
  text-align: center;
  width: 260px;
  position: absolute;
  bottom: 155px;
}

.shareTweet {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 45px;
}

.regLink {
  width: 230px;
  height: 75px;
}

.regVote {
  width: 230px;
  height: 75px;
  background-color: #c8c8c8;
  position: absolute;
  bottom: 45px;
}